<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Tag List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <div *ngIf="(tags$ | async)?.length > 0; else emptyList">
      <div *ngFor="let tag of (tags$ | async)" id="floating-item">
        <div class="tag-name">{{ tag.info.name }}</div>
        <div class="tag-info">
          <!-- <p>UUID: {{ tag.info.uuid }}</p> -->
          <p>Major: {{ tag.info.major }} Minor: {{ tag.info.minor }} rssi: {{ tag.info.rssi }} Batt: {{ tag.info.batt }}</p>
        </div>
        <button ion-button id="update-button" (click)="updateTagSettings(tag.info.id)">Update Settings</button>
      </div>
    </div>
  </ion-list>
  <div class="chart">
    <chart #chart1 [type]="type" [data]="data" [options]="options"></chart>
  </div>
  <ng-template #emptyList>
    <div>
      <ion-item>
        <h1>Scanning for Tags...</h1>
      </ion-item>
    </div>
  </ng-template>
</ion-content>