<ion-header no-border>
  <ion-navbar id="navbar">
    <ion-title>Tag List</ion-title>

    <ion-buttons end>
      <button id="addpet" ion-button (click)="refresh()">
        Refresh
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <div style="text-align: center">Found {{ count }} tags</div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <div *ngIf="(tags$ | async)?.length > 0; else emptyList">
      <ion-item *ngFor="let tag of (tags$ | async)">
        <div class="tag-name">{{ tag.info.name }}</div>
        <div class="tag-info">
          <p *ngIf="devel">UUID: {{ tag.info.uuid }}</p>
          <p>Tag ID: {{ tag.info.minor }} rssi: {{ tag.info.rssi }} Batt: {{ tag.info.batt }}</p>
        </div>
        <button *ngIf="devel" ion-button id="program-button" (click)="programTag(tag.info.id)">Program Tag</button>
        <!-- <button *ngIf="!devel" ion-button id="update-button" (click)="updateTagSettings(tag.info.id)">Update Settings</button> -->
      </ion-item>
    </div>
  </ion-list>
  <div class="chart">
    <chart #chart1 [type]="type" [data]="data" [options]="options"></chart>
  </div>
  <ng-template #emptyList>
    <div>
      <ion-item>
        <h1>Scanning for Tags...</h1>
      </ion-item>
    </div>
  </ng-template>
</ion-content>