page-login {
    button {
        color: white;
    }

    .continue {
        color:rgb(218, 227, 255);
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
      }

    .float{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        position:fixed;
        bottom:15%;        
        box-shadow: 1px 1px 1px #999;
        z-index: 999;
        background-color: map-get($colors, secondary) !important;
    }

    .anonymous-login {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        position:fixed;
        bottom:9%;        
        z-index: 999;
        color: white;
    }

    .version{
        margin-left: 38%;
        margin-right: 35%;
        //width: 80%;
        position:fixed;
        //margin: auto;
        bottom:22%;        
        z-index: 999;
        color: rgb(202, 202, 202);
        opacity: 10%;
    }

    .imgbox{
        margin-left: 10%;
        margin-right: 10%;
        width: 50%;
        box-shadow: 2px 2px 3px #999;
        border: 1px solid lightgrey;
    }

    .my-float{
        margin-top:22px;
        
    }
    
}
