<ion-content fullscreen no-padding no-bounce id="content">
  <div class="welcome" *ngIf="showSlides" [ngClass]="{'fade-away': fadeSlides}">
    <!-- <h2 id="page-main-title" style="color: white">Welcome to Huan!</h2> -->
    <!-- <p id="page-sub-title"></p> -->
    <div class="login-logo">
      <img src="assets/imgs/huan-logo.png" />
    </div>

    <div class="hub-spoke">
      <img src="assets/imgs/hub-spoke.svg" />
    </div>

    <div class="welcome-title">
      Your Pets. Your Community.
    </div>

    <div class="welcome-text">
      Connect your four legged family members to the Huan network. 
      <br><br>Get instant notifications if they're detected while missing.
      <br><br>
      Prevent heartbreak.
    </div>

    <div class="get-started-button-div">
      <button ion-button class="get-started-button" (click)="showLoginButtons()">Get Started</button>
    </div>
  </div>

  <div *ngIf="showVersion" class="version">
    <label ion-label>Version: {{ version }}</label>
  </div>

  <div *ngIf="showLogin" [ngClass]="{'fade-in': showLogin}" id="login">
    <!-- <div>
      <img id="huan-logo" src="assets/imgs/Gandog.png" />
    </div> -->
    <div class="logo">Huan</div>
    <div class="motto">Helping each other. Together.</div>

    <div class="continue-text">Continue using:</div>
    <div class="login-buttons">
      <button ion-button (click)="loginUserWithFacebook()" class="facebook-login" icon-left>
        facebook
      </button>
      <button ion-button (click)="loginUserWithGoogle()" class="google-login" icon-left>
        google
      </button>
      <button ion-button (click)="goToSignup()" class="email-login" icon-left>
        email
      </button>
    </div>
  </div>

</ion-content>
