<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543452999987-4fceqbfnitjj35jif3vd84673efbn6oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543452999987-4fceqbfnitjj35jif3vd84673efbn6oe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>543452999987-smtibkbjom8evv4uj2dm97o5crmp4043.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvFbtbd0LqIIFi6zSaw3418qn_axGPT8A</string>
	<key>GCM_SENDER_ID</key>
	<string>543452999987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gethuan.huanapp</string>
	<key>PROJECT_ID</key>
	<string>huan-33de0</string>
	<key>STORAGE_BUCKET</key>
	<string>huan-33de0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543452999987:ios:124fe5f6ed7253c0</string>
	<key>DATABASE_URL</key>
	<string>https://huan-33de0.firebaseio.com</string>
</dict>
</plist>