.ios {
  page-list {
    div.card-title {
      position: absolute;
      top: 220px;
      font-size: 3em;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      padding: 0px;
      font-weight: bold;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.446);
      z-index: 2;
    }

    .card-subtitle {
      font-size: 1em;
      position: absolute;
      top: 273px;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.446);
      z-index: 2;
    }

    .card-subtitle-lost {
      font-size: 1em;
      position: absolute;
      top: 273px;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      color: map-get($colors, alert);
      background-color: rgba(0, 0, 0, 0.446);
      z-index: 2;
    }
  }
}

.md {
  page-list {
    div.card-title {
      position: absolute;
      top: 226px;
      font-size: 3em;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      padding: 0px;
      font-weight: bold;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.446);
      z-index: 2;
    }

    .card-subtitle {
      font-size: 1em;
      position: absolute;
      top: 275px;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.446);
      z-index: 2;
    }

    .card-subtitle-lost {
      font-size: 1em;
      position: absolute;
      top: 273px;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      color: map-get($colors, alert);
      background-color: rgba(0, 0, 0, 0.446);
      z-index: 2;
    }
  }
}
page-list {
  #taglist {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    // transition-property: opacity;
    // transition-delay: 1s;
  }

  .empty-list {
    background-color: rgba(0, 0, 0, 0);
    // font-family: 'TitilliumWeb Bold';
    color: black;
  }

  div.list-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    height: 340px;
    transition: height 0.5s ease-out;
    object-fit: cover;
    // overflow: hidden;
    box-shadow: 00px 10px 30px 00px rgba(0, 0, 0, 0.316);
  }

  .title-img {
    display: block;
    position: relative;
    overflow: hidden;
    object-fit: fill;
    object-position: center;
    border-radius: 15px;
    width: 100%;
    height: 340px;
    z-index: 2;
  }

  #edit-button {
    position: relative;
    // margin-right: 1px !important;
    // margin-left: 85%;
    margin-left: auto;
    margin-right: 1px;
    // margin-top: 80%;
    // margin-bottom: 1px;
  }

  .list-button {
    position: absolute;
    width: auto;
    font-size: 1em;
    border-radius: 50px;
    font-weight: bold;
    padding: 1px;
    text-transform: uppercase;
  }

  .marked-lost {
    color: red;
    font-weight: bold;
    font-size: 0.7em;
    text-shadow: none;
    //font-family: 'Roboto Bold';
    text-transform: uppercase;
    text-shadow: #000 0px 0px 1px;
  }

  .taglist {
    //background: linear-gradient(to bottom right, white, #2e3849);
    // background: $gradient;
    background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 100px;
    height: auto;
  }

  div.expand-icon {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 3em;
    top: 291px;
    height: 49px;
    color: white;
    margin: auto;
    width: 100%;

    z-index: 2;
    background-color: rgba(0, 0, 0, 0.446);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    box-shadow: 00px 10px 30px 00px rgba(0, 0, 0, 0.316);
  }

  div.collapse-icon {
    position: absolute;
    text-align: center;
    font-size: 3em;
    top: 90%;
    color: black;
    margin: auto;
    width: 100%;
    z-index: 999;
  }

  ion-item.details {
    font-size: 0.9em;
    color: black;
    z-index: 3;
  }

  div.details {
    position: relative;
    z-index: 1;
    transition: height 0.2s ease-out;
    overflow: hidden;
    background: rgb(255, 255, 255);
    color: black;
    width: 100%;
    margin: auto;
    margin-top: -22px;
    padding-left: 5px;
    padding-top: 20px;
    font-size: 1.1em;
    font-weight: normal;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    // box-shadow: 00px 10px 30px 00px rgba(0, 0, 0, 0.5);
  }

  .map-button {
    position: absolute;
    top: 293px;
    left: 4%;
    font-size: 2.5em;
    z-index: 3;
  }

  .edit-button {
    position: absolute;
    top: 293px;
    right: 3%;
    font-size: 2.5em;
    z-index: 3;
  }
  .marklost {
    color: white;
    background-color: rgb(184, 32, 32);
    border-color: rgb(184, 32, 32);
    font-size: 1.2em;
    // box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: auto;
  }
  .markfound {
    color: white;
    background-color: rgb(46, 165, 30);
    border-color: rgb(46, 165, 30);
    font-size: 1.2em;
    border-radius: 50px;
    width: auto;
  }

  #header-error {
    //color: map-get($colors, alert);
    color: red;
    text-align: center;
    font-weight: bold;
  }

  #alert-icon {
    color: map-get($colors, alert);
    font-size: 35px;
  }
}
