<ion-header no-border [ngClass]="fade-in">

  <ion-navbar id="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu" large></ion-icon>
    </button>

    <ion-title>
      My Pets
    </ion-title>
    <ion-buttons end>
      <button id="addpet" ion-button (click)="addTag()">
        Add Pet
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar *ngIf="!bluetooth" style="background: white;">
    <div id="header-error">WARNING: Bluetooth Disabled. Unable to monitor tags.</div>
  </ion-toolbar>
  <ion-toolbar *ngIf="!auth" style="background: white;">
    <div id="header-error">WARNING: Please set location access to 'Always' in your iPhone settings. ('Settings -> Huan
      ->
      Location').
    </div>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen no-padding no-bounce>
  <div #taglist id="taglist">
    <!-- <ion-list class="taglist" no-lines> -->
    <div *ngFor="let tag of (tag$ | async); trackBy: trackByTags" id="list-item{{tag.tagId}}" class="list-item"
      no-lines no-padding>
      <div class="title-img">
        <img [src]="tag.img" />
      </div>
      <div class="attach-button" *ngIf="tag.tagattached == false">
        <button ion-button id="button1" (click)="attachTag(tag)">attach tag</button>
        <button ion-button id="button5" (click)="gotoOrderPage()">request tag</button>

      </div>

      <div class="card-title" id="card-title{{tag.tagId}}">
        <ion-icon *ngIf="getTagWarnings(tag.tagId)" id="alert-icon" name="alert"></ion-icon>
        {{ getTitleText(tag) }}
      </div>

      <div *ngIf="tag.tagattached != false" [ngClass]="getSubtitleCssClass(tag.tagId)" text-wrap>
        {{ getSubtitleText(tag.tagId) }}
      </div>

      <div *ngIf="tag.tagattached == false" [ngClass]="getSubtitleCssClass(tag.tagId)" text-wrap>
        <div id="tag-not-attached">Tag not attached</div>
      </div>

      <div class="battery-icon" *ngIf="tag.hw.batt >= 0">
        <img [src]="getBatteryIcon(tag.hw.batt)" />
      </div>

      <ion-icon name="ios-map-outline" class="map-button" (click)="showOnMap(tag.tagId)"></ion-icon>
      <ion-icon name="ios-create-outline" class="edit-button" (click)="editTag(tag.tagId)"></ion-icon>

      <div class="expand-icon">
        <ion-icon id="expand-arrow{{tag.tagId}}" class="fade-in" name='arrow-down' (click)="expandCollapseItem(tag.tagId)"></ion-icon>
      </div>
      <div class="collapse-icon">
        <ion-icon id="collapse-arrow{{tag.tagId}}" class="fade-in" style="display: none;" name='arrow-up' (click)="expandCollapseItem(tag.tagId) "></ion-icon>
      </div>
      <div id="details{{tag.tagId}}" class="details" style="height: 0px;">
        <ion-list no-lines no-padding>
          <ion-item *ngIf="tag.tagattached" no-lines class="details" text-wrap>
            <ion-icon name="pricetag" item-start></ion-icon>
            {{ tag.tagId }}
          </ion-item>

          <ion-item no-lines class="details" text-wrap>
            <ion-icon name="pin" item-start></ion-icon>
            <!-- Near {{ getTownName(tag.tagId) }} -->
            {{ getLocationName(tag) }}
            <button ion-button [ngClass]="getCssClass(tag.tagId)" (click)="markAsFunc(tag.tagId)" item-end>{{
              markAsText(tag.tagId)
              }}
            </button>
          </ion-item>
          <ion-item no-lines class="details" text-wrap>
            <ion-icon name="list" item-start></ion-icon>
            {{ tag.color }} // {{ tag.breed }} // {{ tag.size }}
          </ion-item>
        </ion-list>
      </div>
    </div>

    <ion-item *ngIf="(tag$ | async)?.length == 0" text-wrap id="page-main-title" no-lines>
      Your pets will appear here after you add them.
    </ion-item>
    <!-- </ion-list> -->
  </div>
</ion-content>