<ion-header no-border [ngClass]="fade - in">
  <ion-navbar id="navbar-blue">

    <button ion-button menuToggle>
      <ion-icon name="menu" large></ion-icon>
    </button>

    <ion-title> My Pets </ion-title>
    <ion-buttons end>
      <button id="addpet" ion-button (tap)="addTag()">Add Pet</button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar *ngIf="unattached_tags > 0" style="background: white; text-align: center;">
    <button ion-button id="button-request-tags" class="hvr-pulse-grow" (tap)="openShop()">
      GET TAGS ></button>
  </ion-toolbar>
  <div class="list-type">
    <ion-segment [(ngModel)]="list_type" color="primary" (ionChange)="refresh()">
      <ion-segment-button value="grid">
        Grid
      </ion-segment-button>
      <ion-segment-button value="list">
        List
      </ion-segment-button>

    </ion-segment>

  </div>

</ion-header>

<ion-content fullscreen no-padding no-bounce class="slide-zoom">

  <div #taglist id="taglist">
    <ion-slides>
      <ion-slide style="height: 100%">
        <ion-list>
          <ion-item *ngFor="let tag of (tag$ | async); trackBy: trackByTags">
            <ion-thumbnail item-start>
              <img [src]="tag.img" (tap)="showOnMap(tag.tagId)">
            </ion-thumbnail>
            <h2>{{ tag.name }}
              <div class="battery-icon-list" *ngIf="tag.hw.batt >= 0">
                <img [src]="getBatteryIcon(tag.hw.batt)" />
              </div>
            </h2>
            <p *ngIf="tag.tagattached">
              Tag #{{ tag.tagId }}
            </p>
            <button *ngIf="tag.tagattached == false" color="secondary" ion-button (tap)="attachTag(tag)">Attach
              Tag</button>

            <p *ngIf="tag.tagattached == true" [ngStyle]="getBorderColor(tag)">
              {{ getListSubtitleText(tag) }}
            </p>
            <p *ngIf="my_uid == tag.lastseenBy && !getTagWarnings(tag.tagId) && tag.lastseen != ''"
              [ngStyle]="getBorderColor(tag)">
              by me
            </p>
            <p *ngIf="my_uid != tag.lastseenBy && tag.lastseenBy != '' && !getTagWarnings(tag.tagId) && tag.lastseen != ''"
              [ngStyle]="getBorderColor(tag)">
              by the Huan network
            </p>
            <p *ngIf="tag.tagattached && !getTagWarnings(tag.tagId) && tag.rssi < 0">
              Proximity: <meter low="30" high="80" max="90" [value]="getTagSignalStrength(tag)"></meter>
            </p>
            <button ion-button item-end outline (tap)="editTag(tag.tagId)">Edit</button>
          </ion-item>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <div *ngFor="let tag of (tag$ | async); trackBy: trackByTags" id="list-item{{ tag.tagId }}" class="list-item"
          no-lines no-padding>
          <div class="title-img">
            <img-loader *ngIf="platform.is('ios')" useImg [src]="tag.img"></img-loader>
            <img *ngIf="platform.is('android')" [src]="tag.img" />
          </div>
          <div class="attach-button" *ngIf="tag.tagattached == false">
            <button ion-button id="button-attach-tag" (tap)="attachTag(tag)">
              <ion-icon style="padding: 5px" name="qr-scanner" item-start></ion-icon>
              Attach Tag
            </button>
            <!-- <button ion-button id="button5" (tap)="gotoOrderPage()">
          request tag
        </button> -->
          </div>

          <div class="card-title" id="card-title{{ tag.tagId }}">
            <ion-icon *ngIf="getTagWarnings(tag.tagId)" id="alert-icon" name="alert"></ion-icon>
            {{ getTitleText(tag) }}
          </div>

          <div *ngIf="tag.tagattached && !getTagWarnings(tag.tagId)" [ngClass]="getSubtitleCssClass(tag.tagId)"
            text-wrap>
            {{ getSubtitleText(tag.tagId) }}
          </div>

          <div *ngIf="tag.tagattached && getTagWarnings(tag.tagId)" [ngClass]="getSubtitleCssClass(tag.tagId)"
            text-wrap>
            No Signal Received [<span class="fixit" (tap)="openTroubleshootingPage(tag.tagId)">Fix it!</span>]
          </div>

          <div *ngIf="tag.tagattached == false && tag.order_status == 'none'" [ngClass]="getSubtitleCssClass(tag.tagId)"
            text-wrap>
            <div id="tag-not-attached">Tag not attached</div>
          </div>

          <div *ngIf="tag.tagattached == false && tag.order_status != 'none'" [ngClass]="getSubtitleCssClass(tag.tagId)"
            text-wrap>
            <div id="tag-not-attached">Tag order received</div>
          </div>

          <div *ngIf="tag.high_risk" style="position: absolute; left: 50%; top: 2px;">
            <ion-badge class="high-risk-label">HIGH RISK</ion-badge>
          </div>

          <!-- <ion-icon name="share" class="share-button" (tap)="sharePet(tag.tagId)"></ion-icon> -->
          <ion-badge *ngIf="tag.tagattached" [ngClass]="{ 
         'share-badge': tag.lost == false,
         'share-badge-lost': tag.lost != false
      }" (tap)="sharePet(tag)">Share</ion-badge>

          <div class="battery-icon" *ngIf="tag.hw.batt >= 0">
            <img [src]="getBatteryIcon(tag.hw.batt)" />
          </div>

          <ion-badge *ngIf="tag.tagattached" class="map-badge" (tap)="showOnMap(tag.tagId)">Map</ion-badge>
          <ion-badge class="edit-badge" (tap)="editTag(tag.tagId)">Edit</ion-badge>

          <!-- <ion-icon *ngIf="tag.tagattached" name="ios-map-outline" class="map-button" (tap)="showOnMap(tag.tagId)">
      </ion-icon> -->
          <!-- <ion-icon name="ios-create-outline" class="edit-button" (tap)="editTag(tag.tagId)"></ion-icon> -->

          <div class="expand-icon">
            <ion-icon id="expand-arrow{{ tag.tagId }}" class="fade-in" name="arrow-down"
              (tap)="expandCollapseItem(tag.tagId)"></ion-icon>
          </div>
          <div class="collapse-icon">
            <ion-icon id="collapse-arrow{{ tag.tagId }}" class="fade-in" style="display: none;" name="arrow-up"
              (tap)="expandCollapseItem(tag.tagId)"></ion-icon>
          </div>
          <div id="details{{ tag.tagId }}" class="details" style="height: 0px;">
            <ion-list no-lines no-padding>
              <ion-item *ngIf="tag.tagattached" no-lines class="details" text-wrap>
                <ion-icon name="pricetag" item-start></ion-icon>
                {{ tag.tagId }}
              </ion-item>

              <ion-item no-lines class="details" text-wrap>
                <ion-icon name="pin" item-start></ion-icon>
                <!-- Near {{ getTownName(tag.tagId) }} -->
                {{ getLocationName(tag) }}
                <button *ngIf="tag.tagattached" ion-button [ngClass]="getCssClass(tag.tagId)"
                  (tap)="markAsFunc(tag.tagId)" item-end>
                  {{ markAsText(tag.tagId) }}
                </button>
              </ion-item>
              <ion-item no-lines class="details" text-wrap>
                <ion-icon name="list" item-start></ion-icon>
                {{ tag.color }} // {{ tag.breed }} // {{ tag.size }}
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-slide>
    </ion-slides>

    <div *ngIf="(tag$ | async)?.length == 0" text-wrap class="empty-list">
      <!-- <div> -->
      <img-loader class="mascot" useImg src="../../assets/imgs/mascot.png"></img-loader>
      <!-- </div> -->
      <div>Tap 'Add Pet' to add your pets and order your Huan Tags!</div>
    </div>
  </div>
</ion-content>