<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Edit</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()" [disabled]="!tagForm.valid">
        <ion-icon name='checkmark' large></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen no-padding no-bounce>
  <form [formGroup]="tagForm">
    <div id="floating-item">
      <ion-list-header>
        Pet Information
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-avatar item-start>
                <img-loader [src]="tag.img" useImg></img-loader>
              </ion-avatar>
            </ion-item>
          </ion-col>

          <ion-col col-6>
            <!-- <ion-row>
              <ion-col>
                <ion-item no-lines>
                  <ion-label stacked>Name</ion-label>
                  <ion-input type="text" id="address-input" [(ngModel)]="tag.name" placeholder="{{ tag.name }}" formControlName="name"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col>
                <button ion-button class="list-button" (click)="changePicture()">
                  Change Photo
                </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button ion-button class="list-button" (click)="changeTag()">
                  Change Tag
                </button>

              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col class="center-box">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label stacked>Name</ion-label>
                  <ion-input type="text" id="address-input" [(ngModel)]="tag.name" placeholder="{{ tag.name }}" formControlName="name"></ion-input>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label stacked id="stacked-label">Breed</ion-label>
                  <ion-select id="address-input" [(ngModel)]="tag.breed" [selectOptions]="breedSelectOptions" formControlName="breed" multiple="true"
                    (ionChange)="onBreedChange()">
                    <ion-option *ngFor="let breed of breeds" [value]="breed">{{breed}}</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label stacked id="stacked-label">Fur</ion-label>

                  <ion-select id="address-input" [(ngModel)]="tag.color" [selectOptions]="furSelectOptions" formControlName="color" multiple="true">
                    <ion-option *ngFor="let color of colors" [value]="color">{{color}}</ion-option>

                    <!-- <ion-option value="Yellow">Yellow</ion-option>
                    <ion-option value="Brown">Brown</ion-option>
                    <ion-option value="Brindle">Brindle</ion-option>
                    <ion-option value="White">White</ion-option>
                    <ion-option value="Grey">Grey</ion-option>
                    <ion-option value="Black">Black</ion-option> -->
                  </ion-select>
                </ion-col>
                <ion-col>
                  <ion-label stacked id="stacked-label">Gender</ion-label>
                  <ion-select id="address-input" [(ngModel)]="tag.gender" [selectOptions]="genderSelectOptions" formControlName="gender">
                    <ion-option value="Male">Male</ion-option>
                    <ion-option value="Female">Female</ion-option>
                  </ion-select>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label stacked id="stacked-label">Size</ion-label>

                  <ion-select id="address-input" [(ngModel)]="tag.size" [selectOptions]="sizeSelectOptions" formControlName="size">
                    <ion-option value="Small">Small</ion-option>
                    <ion-option value="Medium">Medium</ion-option>
                    <ion-option value="Large">Large</ion-option>
                  </ion-select>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button ion-button class="delete" (click)="delete()">Delete Pet</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>


      </ion-grid>
    </div>
  </form>
</ion-content>