page-rewards {
  #reward-box {
    width: 90%;
    height: 300px;
    background: transparent;
    animation: slideIn 0.3s ease;
    box-shadow: 00px 10px 30px 00px rgba(0, 0, 0, 0.582);
    margin-bottom: 30px;
  }

  .reward {
    border: none;
    box-shadow: none;
    border-radius: 15px;
    margin: 5px;
    animation: shrink_reward 0.5s ease;
    animation-fill-mode: forwards;
    background: white;
    z-index: 1;
  }

  .selected-reward {
    border: 1px solid #fb9d86;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 0 1px 10px 0 #fb9d86;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    animation: grow_reward 0.5s ease;
    animation-fill-mode: forwards;
    background: white;
    z-index: 5;
    display: flex;
  }

  .not-selected-reward {
    border: none;
    box-shadow: none;
    border-radius: 15px;
    margin: 5px;
    animation: shrink_reward 0.5s ease;
    animation-fill-mode: forwards;
    background: white;
    z-index: 1;
  }

  div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: rgb(238, 238, 238);
    width: 100%;
    padding-bottom: 50%;
    height: auto;
  }

  div.box-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-flow: column;
    height: 100%;
  }

  div.box-title {
    color: white;
    background: rgba(0, 0, 0, 0.705);
    font-size: 10px;
    text-align: center;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
  }

  div.box-title-selected {
    color: white;
    background: rgba(0, 0, 0, 0.705);
    font-size: 16px;
    text-align: center;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
  }

  div.stock {
    color: white;
    background: rgba(0, 0, 0, 0.705);
    font-size: 11px;
    padding: 5px;
    text-align: center;
  }

  div.stock-low {
    color: rgb(255, 47, 47);
    background: rgba(0, 0, 0, 0.705);
    font-size: 9px;
    padding: 5px;
    text-align: center;
  }

  div.stock-sold-out {
    color: rgb(255, 116, 116);
    background: rgba(0, 0, 0, 0.705);
    font-size: 9px;
    padding: 5px;
    text-align: center;
  }

  div.reward-description {
    color: white;
    background: rgba(0, 0, 0, 0.705);
    margin: auto;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    width: 100%;
    flex-grow: 2;
    align-self: flex-end;
  }

  div.reward-description-selected {
    color: white;
    background: rgba(0, 0, 0, 0.705);
    margin: auto;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    width: 100%;
    flex-grow: 2;
    align-self: flex-end;
  }

  div.not-selected-description {
    color: white;
    background: rgba(0, 0, 0, 0.705);
    margin: auto;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    width: 100%;
  }

  @keyframes appear {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes disappear {
    to {
      transform: scale(0);
    }
  }

  div.box-credits {
    color: white;
    background: rgba(0, 0, 0, 0.705);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 12px;
    padding: 1px;
    text-align: center;
    width: 100%;
  }

  @keyframes grow_reward {
    to {
      transform: scale(1.1);
    }
  }

  @keyframes shrink_reward {
    to {
      transform: scale(0.95);
    }
  }

  div.details {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
  }

  div.reward-img {
    overflow: hidden;
    object-fit: cover;
    object-position: center center;

    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    z-index: 2;
  }

  .reward-img-img {
    text-align: center;
    justify-self: center;
    margin: auto;
  }

  div.score {
    text-align: center;
    background: rgb(238, 238, 238);
  }

  div.score-display {
    padding: 2px;
    border-radius: 50px;
    border: 1px solid transparent;
    width: 80%;
    margin: auto;
    color: white;
    background: rgb(58, 129, 170);
    font-size: 14px;
  }

  ion-segment {
    padding: 10px;
    background: rgb(238, 238, 238);
  }
}
