<ion-header no-border no-shadow>
  <ion-navbar id="navbar-blue-purple">
    <ion-title>Rewards</ion-title>
    <ion-buttons end>
      <!-- <button class="share-button" ion-button (tap)="sendInvite()">Earn Credits</button> -->
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-segment [(ngModel)]="reward_level" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="easy">
      Easy
    </ion-segment-button>
    <ion-segment-button value="hard">
      Hard
    </ion-segment-button>
    <ion-segment-button value="realhard">
      Really Hard
    </ion-segment-button>
  </ion-segment> -->
</ion-header>

<ion-content no-bounce>
  <ion-card>
    <ion-card-header>
      Your stats
    </ion-card-header>
    <ion-card-content>
      <div class="score-display">{{ invite_count }} invites sent</div>
      <div class="score-display">{{ score }} users accepted your invites</div>
      <div class="score-display">{{ score }} credits earned</div>
      <button class="earn-credits" ion-button full (tap)="sendInvite()">Earn credits</button>
      <div class="credits-info">Tip: post your invites on social media to earn credits quickly!</div>
    </ion-card-content>
  </ion-card>

  <!-- <div class="container"> -->
  <ion-scroll scrollY="true" style="height: 500px">

    <ion-list>
      <ion-card *ngFor="let reward of rewards$ | async">
        <ion-card-header text-wrap>
          {{ reward.name }}
        </ion-card-header>
        <img src="{{ reward.imgs[0] }}" />
        <ion-card-content>
          <ion-card-title>
            {{ reward.credits - score }} more credit(s) needed
          </ion-card-title>
          <p>
            {{ reward.description }}
          </p>
        </ion-card-content>
      </ion-card>


      <!-- <ion-item *ngFor="let reward of rewards$ | async" text-wrap>
      <ion-thumbnail item-start>
        <img src="{{ reward.imgs[0] }}">
      </ion-thumbnail>
      <h2>{{ reward.name }}</h2>
      <p> {{ reward.credits - score }} more credit(s) needed </p>
   
      <button ion-button clear item-end>View</button>
    </ion-item> -->
    </ion-list>

  </ion-scroll>
  <!-- <div *ngFor="let reward of rewards$ | async" id="reward-box" class="reward" (tap)="selectReward(reward.id)"
      [hidden]="reward.level != reward_level || reward.credits == 0"
      [style.background-image]="'url(' + reward.img + ')'" [ngStyle]="{
        'background-size': 'cover',
        'background-repeat': 'no-repeat',
        'object-fit': 'fill',
        'background-position': 'center center'
      }">
      <div class="box-container">
        <div class="box-title" [ngClass]="{
            'box-title-selected': selected_reward == reward.id,
            'box-title': selected_reward != reward.id
          }">
          {{ reward.name }}
        </div>
        <div *ngIf="reward.stock > 3" class="stock">
          {{ reward.stock }} left in stock
        </div>
        <div *ngIf="reward.stock > 0 && reward.stock <= 3" class="stock-low">
          {{ reward.stock }} left in stock
        </div>
     

        <div class="reward-img">
        </div>

        <div class="details">
          <div [ngClass]="{
              'reward-description-selected': selected_reward == reward.id,
              'reward-description': selected_reward != reward.id
            }">
            {{ reward.description }}
          </div>

       
          <div *ngIf="reward.stock == 0" class="box-credits">
            SOLD OUT
          </div>
          <div *ngIf="reward.stock > 0 && reward.credits > score" class="box-credits">
            {{ reward.credits - score }} more credit(s) needed
          </div>
          <div *ngIf="reward.credits <= score" class="box-credits">
            <button ion-button *ngIf="reward.stock > 0" id="button-request-tags" class="hvr-pulse-grow"
              (tap)="redeemReward(reward.id, reward.name, reward.credits)">
              GET IT FOR {{ reward.credits }} CREDITS >
            </button>
          </div>
        </div>
      </div>
    </div>  -->
  <!-- </div> -->
</ion-content>