<ion-header no-border>
  <ion-navbar id="navbar-blue-purple">
    <ion-title>
      <img id="logo" src="assets/imgs/huan-logo.png" />
    </ion-title>
    <ion-buttons end>
      <button ion-button clear (tap)="dismiss()">Dismiss</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div class="aurora-outer">
    <div class="aurora-inner">
      <div class="referrals-title">
        <h3>Invite 3 friends and get a Free Huan Smart Tag</h3>
      </div>

      <button ion-button id="button-request-tags" class="hvr-pulse-grow" (tap)="invite()">
        INVITE A FRIEND >>
      </button>
      <div class="explanation-white">
        Tip: texting your invitations makes the biggest impact!
      </div>

    </div>
  </div>
  <div>
    <div class="code-title">
      Your coupon code
    </div>
  </div>
  <div *ngIf="invite_count >= 3" class="explanation">
    The Redeem button will take you straight to our checkout page with your discount code already applied. Just enter
    your shipping address.
  </div>
  <div class="code-box">
    <div *ngIf="invite_count < 3" class="code">{{ 3 - invite_count }} invites needed</div>
    <div *ngIf="invite_count >= 3" class="code">{{ coupon }}</div>
    <div *ngIf="invite_count >= 3" class="share-button" (tap)="redeem()" [hidden]="!coupon_ready">
      REDEEM
    </div>
  </div>

  <!-- <div class=" progress-title">
    <h6 *ngIf="count > 0">REFERRAL COUNT: {{ count }} </h6>
    <h6 *ngIf="count == 0">NO REFERRALS YET</h6>

  </div>
  <div *ngIf="count > 0" class="progress-box">
    <div class="progress">
      <progress max="100" [value]="count"></progress>
    </div>
  </div> -->

  <div class="explanation-title">
    HOW DOES IT WORK?
  </div>
  <div class="explanation">
    Invite your friends using the invite button. After sending three invites, you'll receive a coupon code for a free
    Huan Smart Tag!
  </div>

  <div class="explanation-title">
    DON'T FEEL LIKE INVITING ANYONE?
  </div>
  <button id="button-purchase-tags" ion-button (tap)="shop()">
    PURCHASE A TAG >>
  </button>
</ion-content>