page-home {
  ion-segment {
    text-align: center;
    color: #ffffff;

    //border-radius: 50px;
    background-color: rgba(0, 19, 48, 0.796);
    font-weight: regular;
    font-size: 1.1em;
    //width: 100%;
    //box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  }

  ion-navbar {
    font-size: 1.3em;
  }

  ion-segment-button {
    // border-color: map-get($colors, primary) !important;
    color: #fff !important;
  }

  ion-slides {
    width: 100%;
    height: 70%;
    padding: 20px;
  }

  ion-slide {
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.897);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px;
    box-shadow: 00px 20px 50px 00px rgba(0, 0, 0, 0.5);
  }

  .empty-list {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'TitilliumWeb Bold';
    color: black;
  }

  .list-item {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'TitilliumWeb Bold';
    color: white;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  }

  .list-button {
    width: 80%;
    font-size: 1.2em;
  }

  .marked-lost {
    color: red;
    font-weight: bold;
    font-size: 0.7em;
    text-shadow: none;
    //font-family: 'Roboto Bold';
    text-transform: uppercase;
  }

  #mainmap {
    height: 100%;
    width: 100%;

    //display: none;
  }

  #taglist {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
  }

  #navbutton {
    position: absolute;
    top: 18%;
    left: 1%;
    width: 175px;

    z-index: 1000;
  }

  .taglist {
    //background: linear-gradient(to bottom right, white, #2e3849);
    background: $gradient;

    height: 100%;
  }

  .location-info {
    color: white;
  }
  .card-title {
    position: absolute;
    top: 80%;
    font-size: 1.7em;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-family: 'TitilliumWeb Bold';
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
  }
  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 88%;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    color: #fff;
  }

  .pickgradient {
    //position: relative;
    //display: inline-block;
    height: 80%;
    width: 90%;
  }
  .pickgradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 0.65)),
      color-stop(100%, rgba(0, 0, 0, 0))
    );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    /* Opera 11.10+ */
    background: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    /* IE10+ */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
  }
  img {
    display: block;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .welcome {
    margin-left: 10%;
    margin-right: auto;
    width: 80%;
    position: fixed;
    top: 35%;
    font-size: 2em;
    text-align: center;
  }

  // Shamelessly stolen from http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
  .drop-shadow {
    position: relative;
    float: left;
    width: 40%;
    padding: 1em;
    margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .drop-shadow:before,
  .drop-shadow:after {
    content: '';
    position: absolute;
    z-index: -2;
  }

  .drop-shadow p {
    font-size: 16px;
    font-weight: bold;
  }

  .raised {
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
      0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
      0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
      0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .fade-in {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 1s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-away {
    -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadeout 1s;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @-webkit-keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}
