<ion-header no-border>
  <ion-navbar id="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu" large></ion-icon>
    </button>

    <ion-title> <img id="logo" src="assets/imgs/huan-logo.png" /> </ion-title>

    <ion-buttons end>
      <button ion-button id="addpet" (click)="showMyPets()">Show Pets</button>
    </ion-buttons>
  </ion-navbar>
  <!--
    <ion-toolbar *ngIf="phone_number_missing" style="background: white;">
      <div id="header-error">
        WARNING: Missing phone number. Please add a phone number in 'My Account'
      </div>
    </ion-toolbar>

    <ion-toolbar *ngIf="address_missing" style="background: white;">
      <div id="header-error">
        WARNING: Missing home address. Please add a home address in 'My Account'
      </div>
    </ion-toolbar>
  -->

  <ion-toolbar *ngIf="!bluetooth" style="background: white;">
    <div id="header-error">
      WARNING: Bluetooth is disabled. Pet Protection is inactive.
    </div>
  </ion-toolbar>

  <ion-toolbar *ngIf="!auth" style="background: white;">
    <div id="header-error">
      WARNING: Pet Protection Inactive. Please set location access to 'Always'
      in your iPhone settings. ('Settings -> Huan -> Location').
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen no-padding no-bounce>
  <!-- Main Map Display -->
  <div *ngIf="bluetooth && monitoring_enabled" id="monitoring-enabled">
    Pet Protection Enabled
  </div>
  <div *ngIf="!bluetooth || !monitoring_enabled" id="monitoring-disabled">
    Pet Protection Disabled
  </div>
  <div *ngIf="number_of_tags > 10 && monitoring_enabled" id="updates-delayed">
    Large number of tags detected, updates delayed
  </div>

  <div #mainmap id="mainmap">
    <div *ngFor="let tag of (map$ | async); trackBy: trackByTags" id="shadow{{ tag.tagId }}" class="shadow" style="visibility: hidden"
      no-lines no-padding></div>

    <div *ngFor="let tag of (map$ | async); trackBy: trackByTags" id="pulse{{ tag.tagId }}" class="pulse" style="visibility: hidden"
      no-lines no-padding></div>

    <div *ngFor="let tag of (map_lost$ | async); trackBy: trackByTags" id="shadow{{ tag.tagId }}" class="shadow" style="visibility: hidden"
      no-lines no-padding></div>

    <div *ngFor="let tag of (map_lost$ | async); trackBy: trackByTags" id="pulse{{ tag.tagId }}" class="pulse" style="visibility: hidden"
      no-lines no-padding></div>

    <div *ngFor="let tag of (map_seen$ | async); trackBy: trackByTags" id="shadow{{ tag.tagId }}" class="shadow" style="visibility: hidden"
      no-lines no-padding></div>

    <div *ngFor="let tag of (map_seen$ | async); trackBy: trackByTags" id="pulse{{ tag.tagId }}" class="pulse" style="visibility: hidden"
      no-lines no-padding></div>

    <div *ngFor="let tag of (map$ | async); trackBy: trackByTags" id="info-window{{ tag.tagId }}" class="info-window"
      style="visibility: hidden" no-lines no-padding>
      <div class="info-window-title">{{ tag.name }}</div>
      <div class="info-window-subtitle">{{ getInfoWindowSubtitle(tag) }}</div>
    </div>

    <div *ngFor="let tag of (map_lost$ | async); trackBy: trackByTags" id="info-window{{ tag.tagId }}" class="info-window"
      style="visibility: hidden" no-lines no-padding>
      <div class="info-window-title">{{ tag.name }}</div>
      <div class="info-window-subtitle">{{ getInfoWindowSubtitle(tag) }}</div>
      <div class="info-window-subtitle">{{ getMarkedLostSubtitle(tag) }}</div>
    </div>

    <div *ngFor="let tag of (map_seen$ | async); trackBy: trackByTags" id="info-window{{ tag.tagId }}" class="info-window"
      style="visibility: hidden" no-lines no-padding>
      <div class="info-window-title">{{ tag.name }}</div>
      <div class="info-window-subtitle">{{ getInfoWindowSubtitle(tag) }}</div>
      <div class="info-window-subtitle">{{ getMarkedLostSubtitle(tag) }}</div>
    </div>
  </div>
  <!--
    <div #navbutton id="navbutton">
      <button ion-button id="button5" (click)="showMyPets()">Show my Pets</button>
    </div>
  -->

  <!--
    <div #reportbutton id="reportbutton">
      <button ion-button id="report-button" (click)="showReportPopover($event)">
        Report
      </button>
    </div>
  -->
  <!-- <div #emergencybutton id="emergencybutton">
    <button ion-button id="emergency-button" (click)="showEmergencyPopover($event)">
      EMERGENCY
    </button>
  </div> -->

  <div #community id="community">
    <!-- <div class="coverage">
      <div class="score">
        <div>{{ levelBanner }}</div>
        <div>Send invites to make your pets safer</div>

        <progress-bar
          *ngIf="tagInfo != null && tagInfo.length == 0"
          [progress]="progress"
          [color-degraded]="{
            '0': '#ff564f',
            '33': '#ffc42f',
            '66': '#2dd043'
          }"
        >
        </progress-bar> 
        <div>You're making {{ communityString }} safer!</div>
        <div>Every invite makes your pets and your community safer!</div>

        <div class="invite-button" (click)="sendInvite()">
          INVITE A FRIEND
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
      </div>
      <span class="community_string"> {{ communityString }} </span>
    </div> -->
  </div>
</ion-content>
