page-add {
    .hollow { 
        color: color($colors, secondary, base);
        border-color: color($colors, secondary, base);
    }

    .full {
        color: white;
        background-color: color($colors, secondary, base);
        //border-color: color($colors, secondary, base);
        border-color: lightgrey;
    }
}
