<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-title>Add Pet</ion-title>
    <!--
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name='checkmark' color="light" large></ion-icon>
      </button>
    </ion-buttons>
    -->
  </ion-navbar>
</ion-header>

<ion-content fullscreen no-padding>
  <!--
  <div class="scanqrbutton">
    <button ion-button type="button" outline (click)="scanQR()" [ngClass]="{'hollow': tagAttached == false, 'full': tagAttached == true}">{{ attachText }}</button>
  </div>
  <div class="changephotobutton">
    <button ion-button class="changephoto" outline (click)="changePicture()">Change Photo</button>
  </div>
-->

  <form [formGroup]="tagForm" name="form" novalidate>
    <ion-slides class="add-wizard">
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h1>First, What is your pet's name?</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 class="center-box">
              <ion-input class="name-input" type="text" [(ngModel)]="tag.name" placeholder="" formControlName="name"></ion-input>
              <div class="error-message" *ngIf="!tagForm.get('name').valid && tagForm.get('name').touched">
                Name must contain two or more letters
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <!--
              <ion-item style="text-align: left">
              <ion-icon name="arrow-back" item-start></ion-icon>
                Back
              </ion-item>
            -->
            </ion-col>
            <ion-col col-6>
              <div *ngIf="tagForm.get('name').valid && tagForm.get('name').touched">
                <button ion-button icon-right class="right-arrow" (click)="goForward()">
                  Next
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h1>Add a Photo for {{tag.name}}:</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="center-box">

              <ion-grid>
                <ion-row>

                  <ion-col col-12>
                    <img class="add-img" src="{{ tag.img }}" (click)="changePicture()">
                  </ion-col>

                </ion-row>
              </ion-grid>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <button ion-button icon-left class="left-arrow" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
                Back
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button icon-right class="right-arrow" [disabled]="!imageChanged" (click)="goForward()">
                Next
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h1>Scan your Huan tag to enable location tracking:</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="center-box">


              <ion-grid>
                <ion-row>

                  <ion-col col-12>
                    <div class="scanqrbutton">
                      <button ion-button icon-left type="button" outline (click)="scanQR()" [ngClass]="{'hollow': tagAttached == false, 'full': tagAttached == true}">
                        <div *ngIf="tagAttached; else emptyCheck">
                          <ion-icon name="checkbox-outline"></ion-icon>
                        </div>
                        <ng-template #emptyCheck>
                          <ion-icon name="square-outline"></ion-icon>
                        </ng-template>

                        {{ attachText }}
                      </button>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <div *ngIf="!tagAttached">
                      <button ion-button type="button" outline (click)="gotoOrderPage()" class="no-huan-tag">I Don't have a Huan Tag!</button>
                    </div>
                  </ion-col>

                </ion-row>
              </ion-grid>


            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <button ion-button icon-left class="left-arrow" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
                Back
              </button>
            </ion-col>
            <ion-col col-6>
              <div *ngIf="tagAttached">

                <button ion-button icon-right class="right-arrow" (click)="goForward()">
                  Next
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <h1>Just a few more details...</h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="center-box">
              <ion-grid>

                <ion-row>
                  <ion-col>
                    <ion-label>Breed</ion-label>
                    <ion-select [(ngModel)]="tag.breed" [selectOptions]="breedSelectOptions" formControlName="breed">
                      <ion-option *ngFor="let breed of breeds" [value]="breed">{{breed}}</ion-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-label>Fur</ion-label>
                    <ion-select [(ngModel)]="tag.color" [selectOptions]="furSelectOptions" formControlName="color">
                      <ion-option value="Yellow">Yellow</ion-option>
                      <ion-option value="Brown">Brown</ion-option>
                      <ion-option value="Brindle">Brindle</ion-option>
                      <ion-option value="White">White</ion-option>
                      <ion-option value="Grey">Grey</ion-option>
                      <ion-option value="Black">Black</ion-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>

                    <ion-label>Gender</ion-label>
                    <ion-select [(ngModel)]="tag.gender" [selectOptions]="genderSelectOptions" formControlName="gender">
                      <ion-option value="Male">Male</ion-option>
                      <ion-option value="Female">Female</ion-option>
                    </ion-select>

                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>

                    <ion-label>Size</ion-label>
                    <ion-select [(ngModel)]="tag.size" [selectOptions]="sizeSelectOptions" formControlName="size">
                      <ion-option value="Small">Small</ion-option>
                      <ion-option value="Medium">Medium</ion-option>
                      <ion-option value="Large">Large</ion-option>
                    </ion-select>

                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <button ion-button icon-left class="left-arrow" (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
                Back
              </button>

            </ion-col>
            <ion-col col-6>
              <button ion-button icon-left class="right-arrow" type="submit" [disabled]="!tagForm.valid" (click)="save()">
                <ion-icon name="checkmark"></ion-icon>
                Finished!
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>