.ios {
  page-add {
    .changephotobutton {
      position: absolute;
      top: 35%;
      right: 1%;
      margin-right: 5px;
      z-index: 999;
    }  

    .scanqrbutton {
      margin-right: auto;
      margin-left: auto;
      //margin-top: 30px;
      z-index: 999;
    }
  }
}

.md {
  page-add {
    .changephotobutton {
      position: absolute;
      top: 39%;
      right: 1%;
      margin-right: 5px;
      z-index: 999;
    }  

    .scanqrbutton {
      margin-right: auto;
      margin-left: auto;
      margin-top: 30px;
      z-index: 999;
    }
  
  }
}

page-add {
  ion-card {
    height: 240px;
  }
  
  ion-row {
    //border: 1px solid rgb(141, 141, 141);
    border: 0px;
  }

  ion-col {
    //border: 1px solid rgb(141, 141, 141);
    border: 0px;
  }

  ion-item {
    border: 0px;
  }

  ion-label {
    font-size: 1.3em;
    font-weight: bold;
  }

  ion-select {
    width: 200px;
  }

  .left-arrow {
    text-align: left;
    color: white;
    border-radius: 50px;
    background-color: rgb(247, 152, 152);
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
  }

  .right-arrow {
    text-align: right;
    color: white;
    border-radius: 50px;
    background-color: rgb(47, 126, 77);
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
  }

  .alertclass {
      width: 80%;
  }

  .add-wizard {
    //margin-left: 40px;
    margin-right: auto;
    margin-top: 20px;
  }

  .add-img {
    margin-left: auto;
    margin-right: auto;
  }

  .center-box {
    height: 300px;
  }

  .name-input {
    font-size: 2.0em;
    font-weight: bold;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(141, 141, 141);
  }


  .changephoto { 
    color: white;
    background-color: rgba(138, 172, 245, 0.596);
    border-color: rgb(63, 63, 63);
    font-size: 0.9em;
    font-weight: bold; 
    box-shadow: 1px 1px solid black;
  }

  .card-title-show {
    position: absolute;
    top: 80%;
    font-size: 2.0em;
    width: 100%;
    text-align: left;
    margin-left: 8px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
  }
  .info {
    font-weight: bold;
    padding-left: 5px;
    border-bottom: black 2px;
  }
  
  .details {
    background-color: #f3f1f1;
    color: #000000;

    font-size: 1.1em;
  }
  .hollow {
    color: color($colors, secondary, base);
    background-color: whitesmoke; 
    
    //border-color: color($colors, secondary, base);
    border-color: whitesmoke;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: bold; 
    width: 80%;
  }
  .full {
    color: white;
    background-color: color($colors, secondary, base); 
    border-radius: 50px;
    border-color: color($colors, secondary, base); 
    //border-color: lightgrey;
    font-size: 1.1em;
    font-weight: bold; 
    width: 80%;
  }
  
  .no-huan-tag {
    color: primary;
    //background-color: color($colors, primary, base); 
    border-radius: 50px;
    border-color: color($colors, primary, base); 
    font-size: 1.0em;
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
  }
}

