page-settings {
  ion-label {
    color: black;
    font-size: 12px;
  }

  .setting-info {
    color: black;
    font-weight: lighter;
  }

  .setting-detail {
    font-size: 10px;
    margin-left: 4%;
    width: 70%;
  }

  ionic-selectable {
    display: none;
  }
}
