page-settings {
  ion-label {
    color: black;
    font-size: 12px;
  }

  .setting-info {
    color: black;
    font-weight: lighter;
  }

  .setting-detail {
    font-size: 10px;
    margin-left: 4%;
    width: 70%;
    border: 0px;
  }

  ionic-selectable {
    display: none;
  }

  #settings-button {
    background: #2a9d8f;
    border: 1px solid #2a9d8f;
    color: white;
    width: 100%;
    padding: 15px;
  }
}
