// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$font-family-base: 'Helvetica Neue';
$gradient: linear-gradient(to top, #076585, #fff);

//$background-color: #cccccc;
$background: $gradient;
$text-color: #807e7e;
$grid-padding-width: 5px !default;
$alert-min-width: 80%;
$menu-ios-background: white;
$menu-md-background: #636163;
$list-md-header-color: #b6b6b6;
$list-ios-header-color: #b6b6b6;
$list-ios-header-color: black;
$list-ios-header-background-color: #c5c4c4;
$list-md-header-color: black;
$list-md-header-background-color: #c5c4c4;
// $segment-button-ios-background-color-activated: #ffffff;
// $segment-button-ios-text-color: black;
// $segment-button-md-background-color-activated: #949494;
$toggle-md-handle-background-color-off: rgb(45, 45, 45);
$toggle-ios-background-color-on: rgb(92, 92, 92);
$toggle-ios-handle-background-color: rgb(45, 45, 45);
$radio-ios-color-on: black;

// $gradient: radial-gradient(circle, rgb(255, 255, 255) 1%, #2e3849 99%);

// Ionic variables override
$text-input-ios-show-focus-highlight: false;
$text-input-md-show-focus-highlight: false;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: rgb(7, 101, 133),
  action: rgb(0, 79, 140),
  secondary: rgb(33, 74, 85),
  secondary-segment: rgba(255, 255, 255, 0),
  secondary-darker: #11464b,
  border: rgba(93, 109, 114, 0.234),
  danger: #f53d3d,
  alert: rgb(255, 121, 121),
  light: #8a8a8a,
  dark: #3c353c,
  less-dark: #636163
);
/*
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
*/

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import 'ionic.ionicons';

// Fonts
// --------------------------------------------------

@font-face {
  font-family: 'Roboto Bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'TitilliumWeb Regular';
  src: url('../assets/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'TitilliumWeb Bold';
  src: url('../assets/fonts/TitilliumWeb-Bold.ttf');
}

@import 'roboto';
@import 'noto-sans';
