<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>New Tag</ion-title>
  </ion-navbar>
</ion-header>



<ion-content fullscreen no-padding no-bounce>
  <form [formGroup]="orderForm" name="form" novalidate>
    <div>

      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div id="page-main-title">
              Where should we send your tags?
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item no-lines>
              <ion-label stacked>Name</ion-label>
              <ion-input id="address-input" type="text" [(ngModel)]="subscription.name" placeholder="" formControlName="name"></ion-input>
              <!-- <div class="error-message" *ngIf="!orderForm.get('name').valid && orderForm.get('name').touched">
              This field is required.
            </div> -->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item no-lines>
              <ion-label stacked>E-Mail</ion-label>
              <ion-input id="address-input" type="email" autocomplete="on" [(ngModel)]="subscription.email" placeholder=""
                formControlName="email"></ion-input>
              <!-- <div class="error-message" *ngIf="!orderForm.get('email').valid && orderForm.get('email').touched">
              This field is required.
            </div> -->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item no-lines>
              <ion-label stacked>Address</ion-label>
              <ion-textarea id="address-input" type="textarea" autocomplete="on" [(ngModel)]="subscription.address1"
                placeholder="" formControlName="address1"></ion-textarea>
              <!-- <div class="error-message" *ngIf="!orderForm.get('address1').valid && orderForm.get('address1').touched">
              This field is required.
            </div> -->
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-12>
            <ion-item no-lines>
              <ion-label stacked>Address (Cont.)</ion-label>
              <ion-input id="address-input" type="text" autocomplete="on" [(ngModel)]="subscription.address2" placeholder="" formControlName="address2"></ion-input>
              
            </ion-item>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col col-6>
            <ion-item no-lines>
              <ion-label stacked>City</ion-label>
              <ion-input id="address-input" type="text" autocomplete="on" [(ngModel)]="subscription.city" placeholder=""
                formControlName="city"></ion-input>
              <!-- <div class="error-message" *ngIf="!orderForm.get('city').valid && orderForm.get('city').touched">
              This field is required.
            </div> -->
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item no-lines>
              <ion-label stacked>State</ion-label>
              <ion-select autocomplete="on" [(ngModel)]="subscription.state" formControlName="state">
                <ion-option value="--">--</ion-option>
                <ion-option *ngFor="let state of stateList" [value]="state">{{state}}</ion-option>

              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item no-lines>
              <ion-label stacked>Zipcode</ion-label>
              <ion-input id="address-input" type="text" autocomplete="on" [(ngModel)]="subscription.zipcode"
                placeholder="" formControlName="zipcode"></ion-input>
              <!-- <div class="error-message" *ngIf="!orderForm.get('zipcode').valid && orderForm.get('zipcode').touched">
              This field is required.
            </div> -->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item no-lines>
              <ion-label class="amount-label">Number of Tags</ion-label>
              <ion-select [(ngModel)]="subscription.amount" formControlName="amount">
                <ion-option value="1">1</ion-option>
                <ion-option value="2">2</ion-option>
                <ion-option value="3">3</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 align="center">
            <button ion-button icon-right id="button4" type="submit" [disabled]="!orderForm.valid" (click)="gotoConfirmSubscription()">
              confirm
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </form>

</ion-content>