<ion-header no-border [ngClass]="fade-in">

  <ion-navbar id="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu" large></ion-icon>
    </button>

    <ion-title>
      Notifications
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (tap)="addTag()">
        <ion-icon name='add' large></ion-icon>
      </button>
    </ion-buttons> -->

  </ion-navbar>
</ion-header>

<ion-content no-padding no-bounce>

  <ion-item *ngIf="(notification$ | async)?.length == 0">
    Nothing here!
  </ion-item>
  <ion-item id="notification" *ngFor="let notification of (notifications$ | async)" (tap)="notificationAction(notification.payload.data)" no-padding>
    <div class="title" text-wrap>{{ notification.payload.data.title }}</div>
    <div class="body" text-wrap> {{ notification.payload.data.body }}</div>
    <div class="timestamp">{{ showTime(notification.id) }}</div>
  </ion-item>
  <ion-item id="notification" *ngIf="(notifications$ | async)?.length == 0" no-lines no-padding>
    <div text-wrap>
      <h1>
        No notifications received. 
      </h1>
    </div>
  </ion-item>
</ion-content>