page-leaderboard {
  background: white;

  div.rescue-title {
      text-align: center;
      padding: 5px;
      font-size: 12px;
    //   font-weight: bold;
      color: white;
      background: rgb(255, 111, 97);
      border-radius: 50px;
      width: 80%;
      margin: auto;
      margin-top: 4px;

  }

  div.rescue {
    background: white;
    color: map-get($colors, secondary);
    font-size: 10px;
    padding: 5px;
    text-align: left;
    margin: 2px;
    height: auto;
  }


  progress-bar {
    font-size: 10px;
    vertical-align: bottom;
  }

}
