<ion-header no-border [ngClass]="fade-in">

  <ion-navbar id="navbar-huan-pack">
    <button ion-button menuToggle>
      <ion-icon name="menu" large></ion-icon>
    </button>

    <ion-title>
      Huan Pack
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content no-padding no-bounce>
  <div class="update-counter-display">
    <div class="update-counter">{{ updated_tags }}</div>
    <div class="counter-description">
      Updates per hour
    </div>
  </div>

  <div>
    <ion-scroll style="height: 80vh;" scrollY="true">
      <ion-item id="event" *ngFor="let event of (events$ | async)" no-padding no-lines>
        <div class="event-icon" [ngStyle]="getBorderColor(event)">
          <!-- <ion-icon *ngIf="event.event == 'new_pet'" name="paw-outline"></ion-icon>
          <ion-icon *ngIf="event.event == 'new_pet_img'" name="camera-outline"></ion-icon>
          <ion-icon *ngIf="event.event == 'pet_marked_as_lost'" name="alert-outline"></ion-icon>
          <ion-icon *ngIf="event.event == 'pet_marked_as_found'" name="home-outline"></ion-icon>
          <ion-icon *ngIf="event.event == 'pet_seen_away_from_home'" name="pin-outline"></ion-icon> -->

          <img *ngIf="event.event == 'new_pet'" src="assets/imgs/icons/paw-outline.svg" />
          <img *ngIf="event.event == 'new_pet_img'" src="assets/imgs/icons/camera-outline.svg" />
          <img *ngIf="event.event == 'pet_marked_as_lost'" src="assets/imgs/icons/alert-outline.svg" />
          <img *ngIf="event.event == 'pet_marked_as_found'" src="assets/imgs/icons/home-outline.svg" />
          <img *ngIf="event.event == 'pet_seen_away_from_home'" src="assets/imgs/icons/pin-outline.svg" />


        </div>

        <ion-avatar item-start>
          <img [src]="event.img">
        </ion-avatar>
        <div *ngIf="event.event == 'new_pet'" class="type">
          A NEW PET JUST JOINED
        </div>
        <div *ngIf="event.event == 'new_pet_img'" class="type">
          NEW PROFILE PHOTO
        </div>
        <div *ngIf="event.event == 'pet_marked_as_lost'" class="type">
          MARKED AS LOST
        </div>
        <div *ngIf="event.event == 'pet_marked_as_found'" class="type">
          MARKED AS FOUND
        </div>
        <div *ngIf="event.event == 'pet_seen_away_from_home'" class="type">
          DETECTED BY THE HUAN NETWORK
        </div>

        <div class="body" text-wrap> {{ event.name }}</div>
        <div *ngIf="event.event != 'new_pet_img'" class="community">
          <!-- <ion-icon class="pin-icon" name="pin"></ion-icon> -->
          In {{ event.community }}
        </div>
        <div class="timestamp">{{ showTime(event.timestamp) }}</div>
        <!-- <button *ngIf="event.event == 'pet_marked_as_lost'" ion-button item-end (tap)="showOnMap(event.data)"
          color="alert">Show</button> -->
        <button *ngIf="event.event == 'pet_marked_as_lost'" ion-button item-end (tap)="share(event)"
          color="alert">Share</button>

      </ion-item>
    </ion-scroll>
  </div>

</ion-content>