<ion-header no-border>
  <ion-navbar id="navbar">
    <ion-title>Owner Info</ion-title>
    <!--
      <ion-buttons end>
        <button ion-button icon-only (click)="save()" [disabled]="!accountForm.valid">
          <ion-icon name='checkmark' large></ion-icon>
        </button>
      </ion-buttons>
    -->
  </ion-navbar>
</ion-header>

<ion-content fullscreen no-bounce>
  <form [formGroup]="accountForm" autocomplete="on">
    <div class="account-box">
      <ion-grid>
        <ion-row *ngIf="settings.shareContactInfo">
          <ion-col>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-avatar class="avatar">
                <img [src]="account.photoURL" (click)="changePicture()" />
              </ion-avatar>
            </ion-item>
          </ion-col>
        </ion-row> -->
        <ion-row>
            <ion-col>
              <div id="address-explanation">
                Your Name and Phone Number can be used to contact you if your missing pet is detected by the community.
              </div>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="text" id="address-input" [(ngModel)]="account.displayName" placeholder="Name"
              formControlName="displayName" autocomplete="name" ng-model-options="{debounce: 1000}"
              (ionChange)="blur()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="tel" id="address-input" [(ngModel)]="account.phoneNumber" placeholder="Phone Number"
              formControlName="phoneNumber" autocomplete="tel" (ionChange)="blur()"></ion-input>
            <div *ngIf="account.phoneNumber.length == 0" class="error-message">
              Missing phone number
            </div>
            <div *ngIf="accountForm.get('phoneNumber').invalid" class="error-message">
              Invalid phone number
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div id="address-explanation">
              Your address is PRIVATE and will be used to
              determine if your pet is away from home.
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-textarea [(ngModel)]="account.address" placeholder="Home Address" autocomplete="street-address"
              formControlName="address" (ionBlur)="blur()"></ion-textarea>
            <!-- </ion-item> -->
            <div id="use-current-address" (click)="getCurrentAddress()">
              Use current location
            </div>

            <div *ngIf="
                account.address.length == 0 ||
                accountForm.get('address').invalid
              " class="error-message">
              Enter a home address for your pets!
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <div id="address-explanation">
                Join a Team (optional)
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select id="address-input" [(ngModel)]="account.team" [selectOptions]="teamSelectOptions"
                formControlName="team" (ionChange)="changeTeam()">
                <ion-option value="none">No Team</ion-option>
  
                <ion-option *ngFor="let team of teams$ | async" [value]="team.id">{{
                    team.name
                  }}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
  
  
        <ion-row>
          <ion-col>
            <div id="address-explanation">
              Protection Plan: {{ subscriptionDescription  }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div id="address-explanation">
              To restore your previously purchased subscription, <a (click)="restorePurchase()">click here.</a>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </form>
</ion-content>
