<ion-header no-border>
  <ion-navbar id="navbar">
    <ion-title>Account Info</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="save()" [disabled]="!accountForm.valid">
        <ion-icon name='checkmark' large></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content fullscreen no-padding no-bounce>
  <form [formGroup]="accountForm">
    <div id="floating-item">
      <ion-list-header>
        Owner Contact Information
      </ion-list-header>
      <ion-grid>
        <ion-row *ngIf="settings.shareContactInfo">
          <ion-col>
            <ion-item no-lines text-wrap>
              <h3>Your Name and Phone Number will be shared in case your pet is found after being marked as 'Lost'.</h3>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-avatar class="avatar">
                <img-loader [src]="account.photoURL" useImg (click)="changePicture()"></img-loader>
              </ion-avatar>
            </ion-item>
            <!-- <ion-item>
              <ion-label stacked id="list-item">Name</ion-label>
              <ion-input type="text" class="phone-number-input" [(ngModel)]="account.displayName" placeholder="{{ account.displayName }}"
                formControlName="displayName"></ion-input>
            </ion-item> -->
          </ion-col>

          <ion-col>
            <ion-item no-lines>
              <ion-label stacked id="stacked-label">Name</ion-label>
              <ion-input type="text" id="address-input" [(ngModel)]="account.displayName" placeholder="{{ account.displayName }}" formControlName="displayName"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label stacked id="stacked-label">Phone Number</ion-label>
              <ion-input type="tel" id="address-input" [(ngModel)]="account.phoneNumber" placeholder="{{ account.phoneNumber  }}" formControlName="phoneNumber"></ion-input>
            </ion-item>
            <div *ngIf="account.phoneNumber.length == 0" class="error-message">
              Missing phone number
            </div>
            <div *ngIf="accountForm.get('phoneNumber').invalid" class="error-message">
              Invalid phone number
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines text-wrap>
              <h3>Your Home address is completely private and will be used determine if your pet is away from home.</h3>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label stacked id="stacked-label">Home Address</ion-label>
              <ion-textarea id="address-input" [(ngModel)]="account.address" placeholder="{{ account.address }}" formControlName="address"></ion-textarea>
            </ion-item>
            <div *ngIf="account.address.length == 0 || accountForm.get('address').invalid " class="error-message">
              Enter a home address for your pets!
            </div>
            <!-- <div *ngIf="accountForm.get('address').invalid" class="error-message">
              Invalid address
            </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
      <div id="save">
        <button ion-button id="button4" (click)="save()" [disabled]="!accountForm.valid">
          Update
        </button>
      </div>

    </div>

    <!-- <div id="floating-item">

      <ion-list-header>
        Subscription Information
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <h3>Subscription Type: {{ subscriptionDescription }}</h3>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button (click)="restorePurchase()" id="action-button">
              Restore
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
  </form>
</ion-content>