page-report-popover {
  div.header {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
  }
  ion-col {
    text-align: center;
  }
  ion-label {
    // border-: 1px solid grey;
    text-align: center;
  }

  ion-icon {
    font-size: 5em;
    text-align: center;
  }
}
