<ion-content fullscreen no-padding no-bounce [ngClass]="fade-in">
  <div *ngIf="showScanning">
    <h1 id="page-main-title">
      Scanning for Tags...
    </h1>
    <div class="w3-light-grey w3-round" style="width: 90%; margin: auto;">
      <div id="progressbar" class="w3-container w3-round w3-blue" style="width:1%; height: 25px;"></div>
    </div>
  </div>

  <div *ngIf="showList">
    <div id="floating-item">

      <!-- <h1 id="page-main-title">
        Nearby Tags
      </h1> -->
      <ion-list-header>
        Nearby Pets
      </ion-list-header>
      <ion-item *ngFor="let tag of tagListObservable | async" id="list-item" (click)="showInfoPopover(tag.tagId)" no-lines>
        <ion-avatar item-start>
          <img-loader [src]="tag.img" useImg></img-loader>
        </ion-avatar>
        <div class="tag-name"> {{ tag.name }} </div>
        <h3 *ngIf="tag.lost" id="marked-lost" text-wrap>Marked as Lost {{ lastSeen(tag.markedlost) }}</h3>
        <!-- <h3 text-wrap>Last seen {{ lastSeen(tag.lastseen) }}</h3> -->
      </ion-item>
    </div>

  </div>

  <div *ngIf="showScanQR" class="scan-tag">
    <h1 id="page-main-title">
      Pet Info not showing up? Try scanning the QR Code at the back of the Tag.
    </h1>

    <button ion-button (click)="scanQR()" id="action-button">
      Scan Tag
    </button>
  </div>

  <div class="return-to-login-screen">
    <button ion-button (click)="logout()" id="action-button">
      Return to Login screen
    </button>
  </div>
</ion-content>