page-show {
  ion-card {
    height: 240px;
  }

  ion-grid {
    height: 100%;
    padding: 0px;
  }

  ion-content {
    height: 100%;
  }

  div.card-title {
    position: absolute;
    bottom: 20px;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    padding: 0px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.446);
    z-index: 2;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    padding-bottom: 2px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.446);
    z-index: 2;
  }

  .action-icon {
    position: absolute;
    color: white;
    bottom: 23px;
    left: 4%;
    font-size: 2.5em;
    z-index: 3;
  }
  div.list-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    height: 340px;
    transition: height 0.5s ease-out;
    object-fit: cover;
    // overflow: hidden;
    box-shadow: 00px 10px 30px 00px rgba(0, 0, 0, 0.316);
  }

  .title-img {
    display: block;
    position: relative;
    overflow: hidden;
    object-fit: fill;
    object-position: center;
    border-radius: 15px;
    width: 100%;
    height: 340px;
    z-index: 2;
  }

  .button-row {
    text-align: center;
    padding-bottom: 5px;
  }

  .icon-row {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }

  .info-icon {
    border-radius: 50%;
    border: 1px solid;
    //padding: 20px;
    padding-top: 13%;
    padding-bottom: auto;
    font-size: 2em;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: center;
    color: white;
    background-color: rgba(0, 132, 255, 0.432);
  }

  .pickgradient {
    //position: relative;
    display: inline-block;
    //height: 80%;
    //width: 90%;
  }

  .pickgradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.322) 100%
    );
    /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 0.253)),
      color-stop(100%, rgba(0, 0, 0, 0))
    );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.356) 100%
    );
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.397) 100%
    );
    /* Opera 11.10+ */
    background: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    /* IE10+ */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.432) 100%
    );
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
  }

  .title-img {
    display: block;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .alertclass {
    width: 80%;
  }

  .edit-button {
    color: white;
    background-color: rgb(32, 85, 184);
    border-color: rgb(32, 85, 184);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 90%;
  }
  .marklost {
    color: white;
    background-color: rgb(184, 32, 32);
    border-color: rgb(184, 32, 32);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 90%;
  }
  .markfound {
    color: white;
    background-color: rgb(46, 165, 30);
    border-color: rgb(46, 165, 30);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 90%;
  }
  .card-title-show {
    position: absolute;
    top: 75%;
    font-size: 2em;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
    // font-family: 'Roboto Bold';
  }

  .card-last-seen {
    position: absolute;
    top: 88%;
    font-size: 1em;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    //text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
  }

  .info {
    font-weight: bold;
    //padding-left: 5px;
    border-bottom: black 2px;
  }
  #map {
    height: 200px;
  }
  .location {
    position: absolute;
    top: 0%;
    font-size: 2em;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
  }
  .breed {
    position: absolute;
    top: 70%;
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(20, 20, 20);
  }
  .color {
    position: absolute;
    top: 80%;
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(20, 20, 20);
  }
  .details {
    background-color: #f3f1f1;
    color: #000000;
    font-size: 1.1em;
  }
}
